body {
    margin: 20px;
    padding: 5px 50px;
    text-align: center;
}

h1 {
    margin-bottom: 5rem;
}

#table {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.square {
    width: 25px;
    height: 25px;
    opacity: .75;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.highlighted {
    opacity: 1;
}
